@font-face {
    font-family: 'Avenir LT Std';
    src: url('AvenirLTStd-MediumOblique.eot');
    src: url('AvenirLTStd-MediumOblique.eot?#iefix') format('embedded-opentype'),
        url('AvenirLTStd-MediumOblique.woff2') format('woff2'),
        url('AvenirLTStd-MediumOblique.woff') format('woff'),
        url('AvenirLTStd-MediumOblique.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('AvenirLTStd-Medium.eot');
    src: url('AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('AvenirLTStd-Medium.woff2') format('woff2'),
        url('AvenirLTStd-Medium.woff') format('woff'),
        url('AvenirLTStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('AvenirLTStd-Roman.eot');
    src: url('AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
        url('AvenirLTStd-Roman.woff2') format('woff2'),
        url('AvenirLTStd-Roman.woff') format('woff'),
        url('AvenirLTStd-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('AvenirLTStd-Light.eot');
    src: url('AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'),
        url('AvenirLTStd-Light.woff2') format('woff2'),
        url('AvenirLTStd-Light.woff') format('woff'),
        url('AvenirLTStd-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('AvenirLTStd-BlackOblique.eot');
    src: url('AvenirLTStd-BlackOblique.eot?#iefix') format('embedded-opentype'),
        url('AvenirLTStd-BlackOblique.woff2') format('woff2'),
        url('AvenirLTStd-BlackOblique.woff') format('woff'),
        url('AvenirLTStd-BlackOblique.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('AvenirLTStd-Black.eot');
    src: url('AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'),
        url('AvenirLTStd-Black.woff2') format('woff2'),
        url('AvenirLTStd-Black.woff') format('woff'),
        url('AvenirLTStd-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('AvenirLTStd-Heavy.eot');
    src: url('AvenirLTStd-Heavy.eot?#iefix') format('embedded-opentype'),
        url('AvenirLTStd-Heavy.woff2') format('woff2'),
        url('AvenirLTStd-Heavy.woff') format('woff'),
        url('AvenirLTStd-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('AvenirLTStd-Oblique.eot');
    src: url('AvenirLTStd-Oblique.eot?#iefix') format('embedded-opentype'),
        url('AvenirLTStd-Oblique.woff2') format('woff2'),
        url('AvenirLTStd-Oblique.woff') format('woff'),
        url('AvenirLTStd-Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('AvenirLTStd-HeavyOblique.eot');
    src: url('AvenirLTStd-HeavyOblique.eot?#iefix') format('embedded-opentype'),
        url('AvenirLTStd-HeavyOblique.woff2') format('woff2'),
        url('AvenirLTStd-HeavyOblique.woff') format('woff'),
        url('AvenirLTStd-HeavyOblique.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('AvenirLTStd-LightOblique.eot');
    src: url('AvenirLTStd-LightOblique.eot?#iefix') format('embedded-opentype'),
        url('AvenirLTStd-LightOblique.woff2') format('woff2'),
        url('AvenirLTStd-LightOblique.woff') format('woff'),
        url('AvenirLTStd-LightOblique.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('AvenirLTStd-BookOblique.eot');
    src: url('AvenirLTStd-BookOblique.eot?#iefix') format('embedded-opentype'),
        url('AvenirLTStd-BookOblique.woff2') format('woff2'),
        url('AvenirLTStd-BookOblique.woff') format('woff'),
        url('AvenirLTStd-BookOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('AvenirLTStd-Book.eot');
    src: url('AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),
        url('AvenirLTStd-Book.woff2') format('woff2'),
        url('AvenirLTStd-Book.woff') format('woff'),
        url('AvenirLTStd-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

